<?xml version="1.0"?>
<ruleset name="WordPress Plugin Coding Standards">
	<description>A custom set of rules to check for a WordPress plugin</description>

	<!-- What to scan -->
	<file>.</file>

	<exclude-pattern>/build/</exclude-pattern>
	<exclude-pattern>/node_modules/</exclude-pattern>
	<exclude-pattern>/vendor/</exclude-pattern>

	<!-- How to scan -->
	<arg value="sp"/><!-- Set -s to include sniff rules in report and -p to enable progress reporting.  -->
	<arg name="basepath" value="."/><!-- Report file paths relative to the current directory. -->
	<arg name="colors"/>
	<arg name="extensions" value="php"/><!-- Scan only PHP files. -->

	<!-- Rules: WordPress Coding Standards -->
	<rule ref="WordPress" />
</ruleset>
